@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
}
.navPading{
    padding: 0 3rem 0 3rem;
}
.logoNav{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}
.lineaBorder{
    border-bottom: 2px solid #085159;
}
.borderguia{
    border: 2px solid red;
}
.texto{
    line-height: 1.8;
    font-weight: 300;
}
h2{
    font-weight: 700;
}
h4{
    font-weight: 700;
}
i{
    color: #fff;
}
@media(max-width:575px){
    #Quienes{display: none;}
}