@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}
.navPading{
    padding: 0 3rem 0 3rem;
}
.logoNav{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}
